/* 
palette
white: #f3f3ee ; rgba(243, 243, 238, 1)
darkred: #700d0b ; rgba(112, 13, 11, 1)
palered: #e8c8bd ; rgba(232, 200, 189, 1)
red: #9f1d25 ; rgba(159, 29, 37, 1)
grey: #a7a9ac ; rgba(167, 169, 172, 1)
black: #1e1c1b ; rgba(30, 28, 27, 1)

before palette
darkblue: rgba(4, 39, 126, 0.9)
blue1: #007bff

*/
:root {
  --white: #f3f3ee;
  --grey0: #c2c4c6;
  --grey1: #a7a9ac;
  --grey2: #8d8f93;
  --black: #231f20;
  --palered: #e8c8bd;
  --red: #9e1d25;
  --darkred: #77100f;

  /* Additional colors for buttons, backgrounds, etc. */
  --primary-bg: var(--darkred);
  --primary-text: var(--palered);
  --secondary-bg: var(--white);
  --secondary-text: var(--black);
  --highlight-bg: var(--red);
  --highlight-text: var(--grey0);
  --tab-inactive-bg: var(--grey2);
  --tab-inactive-text: var(--red);
  --tab-hover-bg: var(--grey1);
  --tab-active-bg: var(--white);
  --tab-active-text: var(--darkred);
}

/* General body styling */
body {
  margin: 0;
  font: 600 16px/18px;
  font-family: 'Roboto', sans-serif;
  background: var(--black); /*#1e1c1b*/
  color: var(--primary-text); /*#f3f3ee*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* clear fix */
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

a{
  color:inherit; 
  text-decoration:none;
}

/* Remove tap highlight for mobile */
* {
  -webkit-tap-highlight-color: transparent;
}


/* General head 2 styling */
h2 {
  color: var(--grey0); /*#a7a9ac*/
  margin-top: 0;
}

/* Main container styling */
.results-wrap {
  max-width: 600px;
  min-height: 1500px; /*todo: make this responsive to children */
  width: 100%;
  background: var(--primary-bg); /*#f3f3ee*/
  border-radius: 10px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .1), 0 17px 50px 0 rgba(0,0,0,.19);
  padding: 20px;
  text-align: center;
  position:relative;
  margin: auto;
}

.results-html {
  margin-top: 14px
}

.results-form {
  position:relative;
  min-height: 500px;
  overflow: hidden;
  color: var(--secondary-text);
  border-radius: 10px;
}

/* Tab buttons styling */
.tab-button {
  font-size: 18px;
  font-weight: bold;
  min-width: 100px;
  padding: 10px 20px;
  margin: 0;
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: var(--tab-inactive-bg); /*#007bff*/
  color: var(--tab-inactive-text); /*#ffffff*/
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.tab-button:hover {
  background-color: var(--tab-hover-bg);
  /* background-color: #0056b3; */
}

.tab-button.active {
  background-color: var(--tab-active-bg);
  /* background-color: #2881a7; */
}


/* Tab content styling */
.tab-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  padding: 15px;
  /* background-color: #007bff; */
  /* opacity: 0; */
  /* transform:rotateY(180deg);
  transition: all .5s linear; */
  transition: all background-color 0.3s ease;
  z-index: 0;
}

.tab-content.active {
  /* transform:rotateY(0deg); */
  /* display: block; */
  /* opacity: 1; */
  visibility: visible;
  background-color: var(--tab-active-bg);
  /* background-color: #2881a7; */
  z-index: 1;
}


/* Quiz page styling */
.quiz-page {
  /* background: #f9f9f9; */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  display: none;
}

.group {
  margin-bottom: 20px;
}

.quiz-page .question {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.quiz-page .conts {
  font-size: 14px;
}

.quiz-page.active {
  display: block;
}


/* .quiz-page input[type="radio"] {
  margin: 5px;
} */


/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Style the label as a button */
label.conts {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px 2px;
  /* border: 2px solid #007bff; */
  border-radius: 5px;
  background-color: var(--palered);
  /* background-color: #004794; */
  /* color: #007bff; Default text color */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Highlight the label when the radio button is selected */
input[type="radio"]:checked + label.conts {
  background-color: var(--red);
  /* background-color: #0067d4; */
  color: var(--white); /* Highlighted text color */
  /* border-color: #0056b3; Highlighted border color */
}

/* Buttons for navigation */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--darkred);
  color: var(--white);
  /* background-color: #007bff; */
  /* color: #ffffff; */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--red);
}

button:active {
  background-color: var(--red);
  /* transform: scale(0.98);
  transition: transform 0.1s ease; */
}

/* Ending and score sections */
.ending-content, #scoreDisplay {
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

.ending-content p {
  font-size: 16px;
  color: #333;
} */



p {
  font-size: 18px;
  font-weight: bold;
}


/* Responsive design */
@media (max-width: 768px) {
  .tab-button {
    font-size: 16px;
    padding: 8px 15px;
  }

  .quiz-page {
    padding: 15px;
  }

  .quiz-page .label {
    font-size: 14px;
  }

  .quiz-page button {
    font-size: 14px;
    padding: 8px 15px;
  }
}
