:root {
	--white: #f3f3ee;
	--darkred: #700d0b;
	--palered: #e8c8bd;
	--red: #9f1d25;
	--grey: #a7a9ac;
	--black: #1e1c1b;
	--blue: #0066ff;
	/* --blue: #007bff; */
	--cyan: #00ccff;
	--lightcyan: #80dfff;
	--darkblue: #04277e;
}
